html{
    background-color: gray;
}

h1{
    margin:0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

a{
    display: inline-block;
    background-color: purple;
    margin: 5px 2px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 200px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s;
}

a:hover{
    background-color: white;
    color: purple;
    transform: scale(1.1) translateY(-3px);
}

.links{
    text-align: center;
}